In [31]:
##Definitions
#-------------------------------------------------------------------
#int
a_int = 143
print(a_int)
print(type(a_int))
#-------------------------------------------------------------------
#float
a_float = 3.143
print(a_float)
print(type(a_float))
#-------------------------------------------------------------------
#boolean
a_boolean = True
print(a_boolean)
print(type(a_boolean))
#--------------------------------------------------------------------
#string
a_string = 'I love you -SQ '
print(a_string)
print(type(a_string))
dq_string ="i Love You - DQ"
tq_string = """ 
                I
                love 
                You - TQ
            """
print(dq_string)
print(tq_string)


print(str(2)) #  String '2' not 2 int 
print(str(3.0)) # String '3.0'not 3.0 float
#-------------------------------------------------------------------
#Tuple() 
a_tuple = (1, 4, 3)
print(a_tuple)
print(type(a_tuple))
#-------------------------------------------------------------------
#list []
a_list = [1, 4, 3]
print(a_list)
print(type(a_list))
#-------------------------------------------------------------------
#dict {}
a_dict = {"no":1, "name":'CMR', "DOB": 111111}
print(a_dict)
print(type(a_dict))
#-------------------------------------------------------------------
#multiple definitions  in a sigle assignment
b_int, b_float, b_str =15,15.50, 'FIFTEEN '
print(b_int,b_float,b_str)
#-------------------------------------------------------------------
#set 
x = set(("apple", "banana", "cherry"))
#display x:
print(x)
#display the data type of x:
print(type(x))

143
<class 'int'>
3.143
<class 'float'>
True
<class 'bool'>
I love you -SQ
<class 'str'>
i Love You - DQ

                I
                love
                You - TQ

2
3.0
(1, 4, 3)
<class 'tuple'>
[1, 4, 3]
<class 'list'>
{'no': 1, 'name': 'CMR', 'DOB': 111111}
<class 'dict'>
15 15.5 FIFTEEN
{'banana', 'apple', 'cherry'}
<class 'set'>

In [ ]:
#Variable Conventions

#Variable Name Conventions
#1Camel case  myFirstVariable
#2Pascal Case MyFirstVariable
#3Snake Case my_first_variable

# We followed the Snakecase like a_listetc.